/* General
    This is a general style that applies to all web apges

*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a img{
    cursor: pointer;
}

@font-face {
    font-family: 'ralewayregular';
    src: url("font/raleway-regular-webfont.woff")format("woff"),
        url("font/raleway-regular-webfont.woff2")format("woff2");
    font-weight: normal;
    font-style: normal;
}

html{
    height: 100%;
}

body {
    background:  #1C439E;
background: linear-gradient(45deg, #EDCB13 0%, #1C439E 100%);
    background-repeat: no-repeat;
    height: 100%;
    background-attachment: fixed;
    position: fixed;
    width: 100%;
    display: grid;
    grid-auto-rows: 80px auto;
    grid-template-areas: "aside" "main"
}

p a{
    /* link to another page */
    color: skyblue;
}

aside{
    color: #fff;
    display: grid;
    grid-template-columns: auto 50px;
    width: 100%;
    padding: 1em;
    grid-area: aside;
}

#menuIcon{
    cursor:pointer;
    position: relative;
    top:13%;
    width: 40px;
    height: auto;
    z-index: 10000;
}

#burger div{
    width: 35px;
    height: 4px;
    background-color: rgb(255,255,255);
    margin: 7px;
    z-index: 10000;
    position: relative;
    top: 0px;
    left: 3px;
    transition: all 0.3s ease;
}

#logo{
    display: none;
}

#nameBar{
    color: #fff;
    grid-column: 1/2;
    font-size: 27px;
    font-weight: 600;
    margin: 0 0 0 5px;
    font-family: 'Kaushan Script','Titillium Web', 'Arial', sans-serif;
}

aside .resumeBox{
    display: none;
}
.navtab{
    text-decoration: none;
    color: #1377e8;
    font-weight: 900;
    line-height: 3.4;
    font-size: 20px;
}

@keyframes increaseOpacity{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}

@keyframes decreaseOpacity{
    from{
        opacity: 1;
    }
    to{
        opacity: 0;
    }
}

#navigation li{
    list-style: none;
    display: block;
    padding: 5px;
    margin: 0;
    z-index: 100;
    font-family: 'Titillium Web', 'Arial', sans-serif;
    background-color: none;
    position: relative;
    top: 10%;
    left: 30%;
    width: 120px;
    opacity:0;
}

.active{
    text-align: right;
    position: relative;
    width: 0%;
    height: 100%;
    position: absolute;
    background-color:#E0E6FF;
    display: block;
    z-index: 100;
    top: 0;
    right: 0;
    padding: 5px 0;
}

@keyframes navAppear{
    from{
        width: 0px;
    }
    to{
        width: 200px;
    }
}

@keyframes navDisappear{
    from{
        width: 200px;
    }
    to{
        width: 0px;
    }
}

.flipflip #line1{
    transform: rotate(-45deg) translate(-5px, 6px);
    background-color: #1377e8;
}

.flipflip #line2{
    opacity: 0;
}

.flipflip #line3{
    transform: rotate(45deg) translate(-9px, -11px);
    background-color: #1377e8;
}

#exit{
    /*exit icon*/
    position: absolute;
    float: right;
    width: 40px;
    height: auto;
    position: absolute;
    right: 40px;
    width: 35px;
    height: auto;
    top: 40px;
}

ul{
    display: none;
    /* This allows it so that the lists don't show up if the class  'active' is removed from the html */
    /*The reason that this does not make the list disappear when the class is 
    there is because ul is less specific css than calling it by the class name. So in that case it doesn't apply display
    none at all */
}

main{
    background-color: white;
    font-family: 'Titillium Web', 'Arial', sans-serif;
    width: 100%;
    height: 100%;
    overflow-y: scroll; 
    overflow-x: hidden; 
    grid-area: main;
}


.cta {
    background-color: rgb(19,119,232);
    color: white;
    text-decoration: none;
    font-weight: bold;
    padding: 10px 40px;
    margin: 2.4em auto;
    width: 225px;
    position: relative;
    text-align: center;
    border-radius: 4px;
    cursor: pointer;
    bottom:300%;
    box-shadow: none;
    transition: padding 1s;
}

.cta:hover{
    padding: 10px 60px;
}


.cta2 {
    background-color: rgb(66, 29, 162);
    color: white;
    text-decoration: none;
    font-weight: bold;
    padding: 10px 10px;
    margin: 50px auto;
    width: 150px;
    position: relative;
    left: 0;
    text-align: center;
    border-radius: 30px;
    cursor: pointer;
}

.cta3 {
    background-color: rgb(19,119,232);
    color: white;
    text-decoration: none;
    font-weight: bold;
    padding: 10px 40px;
    margin: 2.4em;
    width: 225px;
    position: relative;
    text-align: center;
    border-radius: 4px;
    cursor: pointer;
    top: 20px;
}

#contact{
    position: relative;   
    width: 100%;
    margin: 80px auto;
    text-align: center;
}

#contact h2{
    margin: 60px 0;
    font-family: 'Kaushan Script','Titillium Web', 'Arial', sans-serif;
    font-size: 28px;
}

#contact p{
    margin: 2.4em;
    font-size: 16px;
    line-height: 1.2;
}

.contactInfo{
    position: fixed;
    width: 100%;
    height: 7.5%;
    left:7%;
    top: 91.5%;
    display: none;
    grid-template-columns: 33.333% 33.3333% 33.333%;
    margin-bottom: 50px;
}

.contactIcon{
    position: relative;
    width: 100%;
    height: auto;
    display: grid;
    left: 7.5%;
    top: 50px;
    grid-template-columns: 33.333% 33.3333% 33.333%;
}

 .contactInfo a, .contactIcon a{
     width: 50px;
     height: 50px;
     left:0;
     margin: 5px;
     cursor: pointer;
 }

.contactInfo a img, .contactIcon a img{
    height: 50px;
    width: 50px;
    margin: 5px;
    cursor: pointer;
    border-radius: 1000px;
}

.facebook{
    display: grid;
    grid-column: 1;

}

.linkedin{
    display: grid;
    grid-column: 2;
}

.github{
    display: grid;
    grid-column: 3;
}

#whitespace{
    height: 100px;
}

/* Tablet view */
@media (min-width: 750px){ 
    /* small adjustments */
    ::-webkit-scrollbar {
        width:0;
        background: transparent;
        /* This will make the scroll bar transparent */
    }

    aside img{
        top:20%;
    }

    .active{
        font-size: 20px;
    }

    #burger div{
        background-color: #1377e8;
    }

    .contactInfo a img{
        left:36%;
    }

    #nameBar{
        display:none;
    }

    #menuIcon{
        display:none;
    }


    .contactInfo {
        position: fixed;
        left: 12%;
        top: 92.5%;
    }

}/* media 700px  */
